/* profile.css */
.profilecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.profilePicture {
  width: 250px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto 20px auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  padding: 20px;
  border-radius: 10px;
  }
<<<<<<< HEAD
<<<<<<< Updated upstream
  
>>>>>>> Stashed changes
=======
  
>>>>>>> Stashed changes
=======
>>>>>>> 6bb3726a2184c6e7fe4889b519d7eb0f6e67defc
