.usercard{
    background-color: #fff;
    border-radius: 30px;
    padding: 20px;
    height: 500px;
    width: 400px;
    overflow: hidden;
}

.iconButton{
    height: 130px;
    width: 130px;
    font-size: xx-large;


}

.iconButton_container{


}