.logintitle {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  
  .formcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    border-radius: 10px;
  }
  
