.logintitle {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  
  .formcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background: rgba(255, 255, 255, 0.8); */
    padding: 20px;
    border-radius: 10px;
  }

.navlogin {
  top: 100%;
}

.devlinklogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 150px;
  width: 150px;
}