.signuptitlecontainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.signupformcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}