/* .signuptitlecontainer {
    display: flex;
    justify-content: center;
} */

.signupformcontainer {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    top: 5%;
    left: 1%;
}

.br {
    display: block;
    margin: 10px 0;
}